@import '../../../variables';

header {
  width: 100%;
  height: 180px;
  background: $color-green;
  position: relative;

  .title-container {
    padding: 1em 16px;
  }

  .title {
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .subtitle {
    color: #f0f0f0;
    font-size: .87em;
    margin: 0;
    padding: 0;
  }

  .networking {
    text-align: right;
    margin-right: 16px;
  }
}
