@import '../../../variables';

article {
  width: 100%;
}

mat-card {
  display: inline-block;
  margin: 8px 12px;
  width: calc(100% - 24px);
}

mat-card-title {
  color: $color-skyblue;
}

main {
  min-height: calc(100% - 300px);

  @media (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
}

.main-container {
  flex-basis: 100%;
}

.aside-navigation {
  @media (min-width: 768px) {
    flex-basis: 320px;
    min-width: 320px;
    height: 100%;
  }
}
