<article>
  <section>

    <mat-card *ngFor="let post of (blog$ | async)?.posts">
      <mat-card-title>
        <a [routerLink]="['/posts', post.src]">
          {{ post.title }}
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngFor="let chip of post.tag">
            {{ chip }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
        {{ post.abstract }}
      <mat-card-content>
      </mat-card-content>
    </mat-card>

  </section>
</article>