main {
  min-height: calc(100% - 300px);

  @media (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
}

.main-container {
  flex-basis: 100%;
}

app-aside-navigation {
  @media (min-width: 768px) {
    flex-basis: 320px;
    min-width: 320px;
    height: 100%;
  }
}

router-outlet {
  display: none;
}